html, body {
	height: 100%;
}

body {
	background-color: #000000;
	margin: 0;
	font-family: Helvetica, sans-serif;
	overflow: scroll;
}

a, h1, h2, h3, #loginPromptId {
	color: #ffffff;
}

h6 {
	color: rgba(127,255,255,0.75);
}

#signIn{
	visibility: visible;
}
#signOut{
	visibility: hidden;
}

#name{
	visibility: hidden;
	z-index: 2;
	color: white;
}

.needLogIn{
	visibility: hidden;
}

p{
	color: white;
}

.ui-menu-item{
	color: black;
	background-color: white;
	width: 25%;
}

.ui-helper-hidden-accessible{
	display: none;
}

.list-group-item{
	background-color: #000000;
	color: white;
	padding: .35rem .25rem;
}

fieldset{
	color: white;
}

legend{
	font-size: 20px;
}

.dropdown-menu, .dropdown-item, .card{
	background-color: #000000;
	color: white;
}

.bg-black{
	background-color: #000000;
	color: rgba(127,255,255,0.75);
}

.card{
	border: 1px  rgba(127,255,255,0.75) solid;
	border-radius: 5px;
	width: 23rem;
}

.ullist{
	display: inline-block;
	width: 45%;
}

.navbar-dark .navbar-nav .nav-link{
	color: rgba(127,255,255,0.75);
	padding-left: 10px;
	padding-right: 10px;
}

.nav-link{
	display: inline;
}

.badge-info{
	margin-left: 9px;
}

.thumbimg{
	width: 40px;
}

#articleButton{
	display: none;
}

#userView{
	position: absolute;
	top: 0px;
}

#graphView{
	visibility: hidden;
	position: absolute;
    	top: 10px;
}

#legend{
	float: right;
	z-index: 3;
}

#contextChoice{
	color: white;
	width: 120px;
	height: 100px;
}

#saveContextButton{
    font-size: .7rem;
    width: 50%;
    padding: .25rem 1.5rem;
    color: rgba(127,255,255,0.75);
}

.content{
	color: white;
}

.content img{
	width : 50%;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

.content video{
	width : 75%;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

.content a{
	color: rgba(127,255,255,0.75);
}

/* :not(:checked) is a filter, so that browsers that don’t support :checked don’t 
   follow these rules. Every browser that supports :checked also supports :not(), so
   it doesn’t make the test unnecessarily selective */
.rating{
	margin-right: 20px;
}

.rating:not(:checked) > input {
    position:absolute;
    top:-9999px;
}

.rating:not(:checked) > label {
	float: right;
    padding:0 .1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:100%;
    line-height:1.2
    color:#ddd;
    text-shadow:1px 1px #bbb, 2px 2px #666, .1em .1em .2em rgba(0,0,0,.5);
}

.rating:not(:checked) > label:before {
    content: '★ ';
}

.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label {
    color: gold;
    text-shadow:1px 1px gold, 2px 2px #B57340, .1em .1em .2em rgba(0,0,0,.5);
}

.rating > label:active {
    position:relative;
    top:2px;
    left:2px;
}
.rating > input:checked ~ label {
    color:gold;
    text-shadow:1px 1px gold, 2px 2px #940, .1em .1em .2em rgba(0,0,0,.5);
}

#info {
	position: absolute;
	width: 100%;
	color: #ffffff;
	padding: 5px;
	font-family: Monospace;
	font-size: 13px;
	font-weight: bold;
	text-align: center;
	z-index: 1;
}

#menu {
	z-index:3;
}

#legendContent{
	position: absolute;
	top: 50px;
	left: 50px;
	display: none;
	width: 85%;
	background-color: rgba(0,0,0, 0.60);
	box-shadow: 0px 0px 12px rgba(0,255,255,0.5);
	border: 1px solid rgba(127,255,255,0.25);
	color: white;
	padding:10px;
	text-align: center;
	z-index: 5;
}

#graphContent {
	position: absolute;
	top: 50px;
	left: 50px;
	display: none;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0, 0.60);
	box-shadow: 0px 0px 12px rgba(0,255,255,0.5);
	border: 1px solid rgba(127,255,255,0.25);
	color: white;
	padding:10px;
	text-align: center;
	z-index: 5;
}

#graphFrame {
	width: 100%;
	height: 100%;
}

#legendHelp{
	position: absolute;
	top: 50px;
	left: 50px;
	display: none;
	width: 85%;
	background-color: rgba(0,0,0, 0.60);
	box-shadow: 0px 0px 12px rgba(0,255,255,0.5);
	border: 1px solid rgba(127,255,255,0.25);
	color: white;
	padding:10px;
	text-align: center;
	z-index: 5;
}

.modal-content{
	background-color: rgba(0,0,0, 0.60);
}

.modal-body{
	width: 100%;
	height: 100%;
}

.vertical{
    display: inline-block;
}

#mytext {
    position: relative;
    top: 50%; 
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}

.legendelement {
	width: 60px;
	height: 80px;
	box-shadow: 0px 0px 12px rgba(0,255,255,0.5);
	border: 1px solid rgba(127,255,255,0.25);
	text-align: center;
	cursor: default;
	position: relative;
    top: 50%;
}

.element {
	width: 280px;
	height: 340px;
	box-shadow: 0px 0px 12px rgba(0,255,255,0.5);
	border: 1px solid rgba(127,255,255,0.25);
	text-align: center;
	cursor: default;
}

.element:hover {
	box-shadow: 0px 0px 12px rgba(0,255,255,0.75);
	border: 1px solid rgba(127,255,255,0.75);
}

	.element .number {
		position: absolute;
		top: 10px;
		right: 20px;
		font-size: 32px;
		color: rgba(127,255,255,0.75);
	}

	.element .symbol {
		position: absolute;
		top: 60px;
		left: 0px;
		right: 0px;
		font-size: 60px;
		font-weight: bold;
		color: rgba(255,255,255,0.75);
		text-shadow: 0 0 10px rgba(0,255,255,0.95);
	}

	.element .symbol img {
		max-height: 190px;
		max-width: 240px;
	}

	.element .details {
		position: absolute;
		bottom: 15px;
		left: 0px;
		right: 0px;
		font-size: 32px;
		color: rgba(127,255,255,0.75);
	}

.legendsquare {
  width: 60px;
  height: 60px;
}

.square {
  width: 120px;
  height: 120px;
}

	  .square .number {
	    top: 5px;
	    right: 10px;
	  }

	  .square .symbol {
	    top: 20px;
	  }

	  .square .details {
	    bottom: 5px;
	    left: -5px;
	    right: -5px;
	  }

.legendcircle {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

.circle {
  width: 140px;
  height: 140px;
  border-radius: 50%;

}
	  .circle .number {
	    top: 5px;
	    right: 40px;
	  }

	  .circle .symbol {
	    top: 25px;
	  }

	  .circle .details {
	    bottom: 10px;
	    left: 20px;
	    right: 20px;
	  }

button {
	color: rgba(127,255,255,0.75);
	background: transparent;
	outline: 1px solid rgba(127,255,255,0.75);
	border: 0px;
	padding: 5px 10px;
	cursor: pointer;
	z-index: 10;
}
button:hover {
	background-color: rgba(0,255,255,0.5);
}
button:active {
	color: #000000;
	background-color: rgba(0,255,255,0.75);
}
